.env
*.db
*.db-journal
*.db-wal
*.db-shm
mysite/instance/
mysite/logs/
mysite/static/uploads/*
!mysite/static/uploads/.gitkeep
__pycache__/
*.pyc
venv/
.venv/
.virtualenvs/
.cache/
.local/
.ipython/
.bashrc
.profile
.gitconfig
.vimrc
.pythonstartup.py
*.bak
aa_news_backups/
